<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      We're sorry, you have been terminated.<br>
    </p>
    <p>
      Thank you for playing the game. We hope you will play again soon.
    </p>
    <p>
      We hope you have a great day!
    </p>
  </body>
</html>