<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>CONGRATULATIONS!!! YOU JUST WON ASSASSINS!!</h1>
    <p>
      Be sure to convince your staff to give you a prize
      and convince them to start another game so you can win again.<br>
    </p>
    <p>
      You did an amazing job, we hope you'll play again soon!
    </p>
  </body>
</html>