<% content_for :title, "Report a Kill!" %>

<% if !@kill.nil? %>
	<% @kill.errors.full_messages.each do |msg| %>
  		<p><%= msg %></p>
  	<% end %>
<% end %>


<%= form_for(@kill, method: :post, url: {action: :post_report}) do |form| %>
	<%= form.text_field(:code, :class => "form-control", :placeholder => "Target's kill code (e.g. 1234)") %>
	<br>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Report Kill</button>
<% end %>