<% content_for :title, "Join a Game!" %>

<% if !@game.nil? %>
	<% @game.errors.full_messages.each do |msg| %>
  		<p><%= msg %></p>
  	<% end %>
<% end %>

<%= form_for(@game, method: :post, url: {action: :post_join}) do |form| %>
	<%= form.text_field(:code, :class => "form-control", :placeholder => "Enter game code") %>
	<br>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Join a Game</button>
<% end %>