<% content_for :title, "New Game!" %>

<% if !@game.nil? %>
	<% @game.errors.full_messages.each do |msg| %>
  		<p><%= msg %></p>
  	<% end %>
<% end %>

<div class="form-container">
<%= form_for(@game, method: :post, url: {action: :create}) do |form| %>
	<%= form.text_field(:name, :class => "form-control", :placeholder => "Game name (e.g. Best game ever!)") %>
	<br>
	<%= form.text_field(:code, :class => "form-control", :placeholder => "Game code (e.g. j-ro123)") %>
	<br>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Create New Game</button>
<% end %>
</div>